

    body {
	}

	.navbar{
		80%;
	}

    #navegador ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
     font-family: sans-serif;
     font-size: 16px;
     font-weight: bold;
    } 


    #navegador ul li {
	background-color: #00ABFF;
	float: left;
	height:2.5em;
	width: 16.6666%;
	border-color:  #0883be ;
	border-style: solid;
	border-width: 1px;
  	}

    #navegador ul a {
	color: #FFF;
	text-decoration:none; 
	padding: 10px;

	display: block;
	height: 100%;
	text-align: center;
}
  ul a:hover {
	text-decoration:none; 
	font-size: 18px;
	font: fantasy;
	color: #fff;
	font-weight: bolder;
}



